# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# AEM
*.jar
*.war
*.zip
*.sdf
crx-quickstart/

# Frontend
node/
node_modules/
ui.frontend/dist
ui.frontend.general/dist/
ui.frontend.react/dist/
ui.frontend.angular/dist/

# OSGi configs with secrets
ui.config/src/main/content/jcr_root/apps/myaem/osgiconfig/config/com.myaem.core.services.WeatherServiceImpl.cfg.json

# IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db
